<div class="jumbotron jumbotron-fluid text-center bg-info text-white">
  <div class="container">
    <h1 class="display-4 pt-5">Bienvenido a Elite Market</h1>
    <p class="lead">Las mejores ofertas en electrodomésticos, electrónicos y más.</p>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center">Productos Destacados</h2>
  <div id="featuredProductsCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let group of chunkedProducts; let i = index" [class.active]="i === 0">
        <div class="row">
          <div class="col-md-4" *ngFor="let product of group">
            <div class="card mb-4 product-card">
              <img src="{{product.image}}" class="card-img-top">
              <div class="card-body">
                <span class="badge badge-success">Llega hoy</span>
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-price">{{product.price | currency}} <span class="badge bg-danger">{{product.discount}}%</span></p>
                <p class="card-text"><del>{{product.originalPrice | currency}}</del></p>
                <div class="rating">
                  <ng-container *ngFor="let star of getStars(product.rating)">
                    <i [ngClass]="star"></i>
                  </ng-container>
                  ({{ product.reviews }})
                </div>
                <button class="btn btn-primary btn-block">Agregar al Carrito</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#featuredProductsCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#featuredProductsCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</div>
