<div class="admin-container">
  <div class="sidebar">
    <h2>Panel de Administración</h2>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [class.active]="currentSection === 'products'" (click)="showSection($event, 'products')" href="javascript:void(0);">Gestionar Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="currentSection === 'users'" (click)="showSection($event, 'users')" href="javascript:void(0);">Gestionar Usuarios</a>
      </li>
    </ul>
  </div>
  <div class="main-content">
    <div *ngIf="currentSection === 'products'">
      <h3>Gestionar Productos</h3>
      <form [formGroup]="productForm" (ngSubmit)="onSubmitProduct()">
        <div class="form-group">
          <label for="productName">Nombre del Producto</label>
          <input [ngClass]="{'input-error':validProductName}" type="text" class="form-control" id="productName" placeholder="Nombre del Producto" formControlName="productName" required>
          <div *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched">
            <small class="error" *ngIf="productForm.get('productName')?.errors?.['required']">El nombre es obligatorio.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <textarea [ngClass]="{'input-error':validProductDescription}" class="form-control" id="description" rows="3" placeholder="Descripción" formControlName="description" required></textarea>
          <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
            <small class="error" *ngIf="productForm.get('description')?.errors?.['required']">La descripción es obligatorio.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="price">Precio</label>
          <input [ngClass]="{'input-error':validProductPrice}" type="number" class="form-control" id="price" placeholder="Precio" formControlName="price" required>
          <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
            <small class="error" *ngIf="productForm.get('price')?.errors?.['required']">El precio obligatorio.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="category">Categoría</label>
          <select [ngClass]="{'input-error':validProductCategory}" class="form-control" id="category" formControlName="category" required>
            <option>Computadoras</option>
            <option>Celulares</option>
            <option>Aire acondicionado</option>
            <option>Cafeteras eléctricas</option>
          </select>
          <div *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched">
            <small class="error" *ngIf="productForm.get('category')?.errors?.['required']">La categoria es obligatorio.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="image">Imagen</label>
          <input type="file" class="form-control-file" id="image" formControlName="image">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Agregar Producto</button>
      </form>
    </div>
    <div *ngIf="currentSection === 'users'">
      <h3>Gestionar Usuarios</h3>
      <div class="right-align-button">
        <button type="button" (click)="openModal()" class="btn btn-primary">Agregar</button>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table">
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Apellidos </th>
          <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="rut">
          <th mat-header-cell *matHeaderCellDef class="mat-column-rut"> Rut </th>
          <td mat-cell *matCellDef="let user" class="mat-column-rut"> {{user.rut}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="mat-column-email"> Correo </th>
          <td mat-cell *matCellDef="let user" class="mat-column-email"> {{user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef class="mat-column-phone"> Teléfono </th>
          <td mat-cell *matCellDef="let user" class="mat-column-phone"> {{user.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef class="mat-column-address"> Dirección </th>
          <td mat-cell *matCellDef="let user" class="mat-column-address"> {{user.address}} </td>
        </ng-container>

        <ng-container matColumnDef="roles">
          <th mat-header-cell *matHeaderCellDef class="mat-column-roles"> Roles </th>
          <td mat-cell *matCellDef="let user" class="mat-column-roles"> {{user.roles}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editElement(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Eliminar </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="deleteElement(element)">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page"></mat-paginator>
    </div>
  </div>
</div>
