.admin-container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 250px; /* Ajustar el ancho de la barra lateral */
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3a7bd5;
  font-size: 1.5em; /* Ajustar el tamaño de fuente */
}

.sidebar .nav-link {
  color: #333;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar .nav-link:hover, .sidebar .nav-link.active {
  background-color: #3a7bd5;
  color: #fff;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.main-content h3 {
  margin-bottom: 20px;
  color: #3a7bd5;
  font-size: 1.75em; /* Ajustar el tamaño de fuente */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; /* Añadir negrita a las etiquetas */
}

.form-control, .form-control-file, .form-control-file input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.form-control:focus, .form-control-file:focus, .form-control-file input[type="file"]:focus {
  border-color: #3a7bd5;
  box-shadow: 0 0 5px rgba(58, 123, 213, 0.5);
}

.btn-primary {
  background-color: #3a7bd5;
  border-color: #3a7bd5;
}

.btn-primary:hover {
  background-color: #345d9d;
  border-color: #345d9d;
}

.btn-block {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.right-align-button {
  text-align: right;
}
