<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="p-3">
    <header class="d-flex justify-content-between align-content-center mb-2">
      <h2 mat-dialog-title>Añadir Usuario</h2>
      <button (click)="close()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </header>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="firstName" required>
          <mat-error *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
            <small class="error" *ngIf="userForm.get('firstName')?.errors?.['required']">El nombre es obligatorio.</small>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="lastName" required>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Rut</mat-label>
          <input matInput formControlName="rut" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="phone" required>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="address" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="roles" required>
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="customer">Customer</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" required>
        </mat-form-field>
      </div>
    </div>

    <div class="modal-footer border-0">
      <button type="submit" class="pl-2 btn btn-primary w-25" [disabled]="userForm.invalid" >Añadir</button>
    </div>

  </div>
</form>
